mixin modal()
	div.modal
		div.modal__inner
			div.modal__top
				button.modal__close.js-modal-close &times;
				|Share
			div.modal__bottom
				div.modal__link http://cll.io/a6lnu
				div.modal__social
					ul.modal__social-list.clearfix
						li.modal__social-item
							a(href = "#").modal__social-link.modal__social-link_type_fb.icon-soc-fb
						li.modal__social-item
							a(href = "#").modal__social-link.modal__social-link_type_tw.icon-soc-tw
						li.modal__social-item
							a(href = "#").modal__social-link.modal__social-link_type_vk.icon-soc-vk
						li.modal__social-item
							a(href = "#").modal__social-link.modal__social-link_type_in.icon-soc-in
