.main-block
	block()
	&__text
		line-height:26px

	&__photo
		padding:8px 0

	&__contacts
		padding: 16px
		border-bottom:1px solid #bdbdbd;
		border-top:1px solid #bdbdbd;

.photo-block
	&__list
		padding:8px 0
		margin:0 -6px

	&__item
		padding: 0 6px
		float: left

	&__pic
		display: block

.contacts-block
	&__map
		width: 300px;
		height: 200px;
		float: left

	&__name
		font-family:HelveticaMedium

	&__link
		color: #00adff

.files-block
	&__item
		padding: 0 15px
		float: left

	&__name
		font-family:HelveticaMedium

	&__link
		color: #00adff