HelveticaRegular = "HelveticaRegular", san-serif
HelveticaBold = "HelveticaBold", san-serif
HelveticaMedium = "HelveticaMedium", san-serif

/* font-family: "HelveticaRegular"; */
@font-face {
	font-family: "HelveticaRegular";
	src: url("../fonts/HelveticaRegular/HelveticaRegular.eot");
	src: url("../fonts/HelveticaRegular/HelveticaRegular.eot?#iefix")format("embedded-opentype"),
			url("../fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"),
			url("../fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* font-family: ""HelveticaBold""; */
@font-face {
	font-family: "HelveticaBold";
	src: url("../fonts/HelveticaBold/HelveticaBold.eot");
	src: url("../fonts/HelveticaBold/HelveticaBold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/HelveticaBold/HelveticaBold.woff") format("woff"),
			url("../fonts/HelveticaBold/HelveticaBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* font-family: "HelveticaMedium"; */
@font-face {
	font-family: "HelveticaMedium";
	src: url("../fonts/HelveticaMedium/HelveticaMedium.eot");
	src: url("../fonts/HelveticaMedium/HelveticaMedium.eot?#iefix")format("embedded-opentype"),
			url("../fonts/HelveticaMedium/HelveticaMedium.woff") format("woff"),
			url("../fonts/HelveticaMedium/HelveticaMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon/icomoon.eot?xrratd');
	src:  url('../fonts/icomoon/icomoon.eot?xrratd#iefix') format('embedded-opentype'),
			url('../fonts/icomoon/icomoon.ttf?xrratd') format('truetype'),
			url('../fonts/icomoon/icomoon.woff?xrratd') format('woff'),
			url('../fonts/icomoon/icomoon.svg?xrratd#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-fb-foot:before {
	content: "\e900";
}
.icon-list:before {
	content: "\e901";
}
.icon-soc-fb:before {
	content: "\e902";
}
.icon-soc-in:before {
	content: "\e903";
}
.icon-soc-tw:before {
	content: "\e904";
}
.icon-soc-vk:before {
	content: "\e905";
}
.icon-twi-foot:before {
	content: "\e906";
}

