$svg-common 
	background url("sprite-e501efae.svg") no-repeat

.svg-bg
	@extend $svg-common
	background-position 0 0
	width 204px
	height 204px

.svg-box
	@extend $svg-common
	background-position 0 38.27392120075047%
	width 20px
	height 18px

.svg-calendar
	@extend $svg-common
	background-position 0 42.125237191650854%
	width 22px
	height 24px

.svg-check
	@extend $svg-common
	background-position 0 45.81005586592179%
	width 14px
	height 14px

.svg-close
	@extend $svg-common
	background-position 0 48.598130841121495%
	width 17px
	height 16px

.svg-corner-red
	@extend $svg-common
	background-position 0 55.31062124248497%
	width 52px
	height 52px

.svg-download
	@extend $svg-common
	background-position 0 63.81322957198444%
	width 38px
	height 37px

.svg-lock
	@extend $svg-common
	background-position 0 68.60902255639098%
	width 16px
	height 19px

.svg-logo
	@extend $svg-common
	background-position 0 74.27466150870406%
	width 137px
	height 34px

.svg-share
	@extend $svg-common
	background-position 0 78.71939736346516%
	width 20px
	height 20px

.svg-soc-fb
	@extend $svg-common
	background-position 0 82.48587570621469%
	width 12px
	height 20px

.svg-soc-in
	@extend $svg-common
	background-position 0 86.09022556390977%
	width 19px
	height 19px

.svg-soc-tw
	@extend $svg-common
	background-position 0 89.32584269662921%
	width 20px
	height 17px

.svg-soc-vk
	@extend $svg-common
	background-position 0 92.16417910447761%
	width 24px
	height 15px

.svg-star
	@extend $svg-common
	background-position 0 95.49718574108817%
	width 19px
	height 18px

.svg-url
	@extend $svg-common
	background-position 0 100%
	width 24px
	height 24px

