$svg-common 
	background url("sprite-7e65d2a1.svg") no-repeat

.svg-bg
	@extend $svg-common
	background-position 0 0
	width 204px
	height 204px

.svg-box
	@extend $svg-common
	background-position 0 37.023593466424686%
	width 20px
	height 18px

.svg-box2
	@extend $svg-common
	background-position 0 40.29038112522686%
	width 20px
	height 18px

.svg-calendar
	@extend $svg-common
	background-position 0 44.03669724770642%
	width 22px
	height 24px

.svg-check
	@extend $svg-common
	background-position 0 47.567567567567565%
	width 14px
	height 14px

.svg-close
	@extend $svg-common
	background-position 0 50.27124773960217%
	width 17px
	height 16px

.svg-corner-red
	@extend $svg-common
	background-position 0 56.866537717601545%
	width 52px
	height 52px

.svg-download
	@extend $svg-common
	background-position 0 65.0375939849624%
	width 38px
	height 37px

.svg-lock
	@extend $svg-common
	background-position 0 69.63636363636364%
	width 16px
	height 19px

.svg-logo
	@extend $svg-common
	background-position 0 75.14018691588785%
	width 137px
	height 34px

.svg-share
	@extend $svg-common
	background-position 0 79.41712204007285%
	width 20px
	height 20px

.svg-soc-fb
	@extend $svg-common
	background-position 0 83.06010928961749%
	width 12px
	height 20px

.svg-soc-in
	@extend $svg-common
	background-position 0 86.54545454545455%
	width 19px
	height 19px

.svg-soc-tw
	@extend $svg-common
	background-position 0 89.67391304347827%
	width 20px
	height 17px

.svg-soc-vk
	@extend $svg-common
	background-position 0 92.4187725631769%
	width 24px
	height 15px

.svg-star
	@extend $svg-common
	background-position 0 95.6442831215971%
	width 19px
	height 18px

.svg-url
	@extend $svg-common
	background-position 0 100%
	width 24px
	height 24px

