.select-block
	block()
	padding: 5px 16px 15px;
	@media screen and  (min-width tablet)
		padding: 16px 31px 11px;

	&__corner
		&:before
			content: ''
			display: block
			@extend .svg-star
			position: absolute;
			top: 41px;
			left: 2px;
			z-index: 2;
			transform: rotate(-30deg);
			@media screen and  (min-width tablet)
				top: 48px;
				left: 5px;

	&__list
		padding:7px 0

	&__item
		padding: 3.7px 0;

	&__label
		position: relative
		padding-left: 23px;
		cursor: pointer
		display: inline-block;

	&__input
		display: none;

		&:checked ~ .select-block__check
			background: #3b99fc;
			border:none

			&:before
				content: "";
				display: inline-block;
				@extend .svg-check
				position: absolute;
				top:0;
				left:0;

	&__check
		display: inline-block;
		width: 14px;
		height: 14px;
		border-radius: 2px;
		border: solid 2px #b8b8b8;
		cursor: pointer;
		position: absolute;
		top: 3px;
		left: 0;

	&__bottom
		padding: 9px 14px;

.block-bottom
	padding: 9px 0;

	&__time
		color:#aeb4ba
		display: inline-block;

	&__btns
		float: right
		margin-top: -3px;
		display: inline-block;
		position: relative;

	&__url
		@extend .svg-url
		border: none;
		display: inline-block;


	&__share
		@extend .svg-share
		border: none;
		display: inline-block;
		margin-right: 12px;

	&__desc
		float: right
		color: #009ce6

		&_type
			&_archived
				color: #858585

.tooltip
	position: absolute
	margin: 10px 20px;
	display: none
	white-space: nowrap;
	top: -56px;
	left: -42px;


	&__arrow
		position: absolute;
		width: 0;
		height: 0;
		border-color: transparent;
		border-style: solid;
		border-width: 5px 6px 0;
		border-top-color: #404040;
		bottom: -5px;
		left: 50%;
		opacity: 0.7;

	&__inner
		max-width: 200px;
		color: #fff;
		text-align: center;
		opacity: 0.7;
		font-size: 14px;
		padding: 8px 15px;
		border-radius: 3px;
		background-color: #404040;