.user-block
	padding: 21px 0 0;

	&__item
		padding: 9px 0

	&__info
		width:100%
		@media (min-width tablet)
			width:50%
			float: left

	&__links
		display: none
		float: right
		width:50%
		padding-top: 11px;
		@media (min-width tablet)
			display: block

	&__btns
		margin:0 -8px
		padding: 6px 0;
		@media (min-width tablet)
			float: right

	&__btn
		width:50%
		float: left
		padding:0 8px
		@media (min-width tablet)
			width:100%

	&__desc
		padding: 14px 0;
		color: #2c2f31;
		font-size: 18px;
		font-family:HelveticaMedium
		@media (min-width tablet)
			float: left
			font-size: 20px;
			
	&__name
		color: #2c2f31
		display: inline-block;
		padding: 0 12px;
		letter-spacing: 0.8px;

	&__photo
		display: inline-block

	&__to
		background: color-add
		float: right
		color: #fff
		padding: 0 5px
		font-size: 13px
		border-radius  4px
		height: 24px;
		line-height:24px

	&__social
		float: right

.social
	&__list
		margin: -2px 27px 0 0;


	&__item
		display: inline-block
		padding-right: 10px;

	&__link
		color: #fff
		padding-top: 9px;
		
		&:hover
			color: color-main

.icon-soc-vk
	font-size: 20px;
	position: relative;
	top: 2px;
