.footer
	background color-bg
	height 90px;
	text-transform: uppercase
	color: #979ea4

	.inner
		text-align center

	&__logo
		float left

	&__social
		float right

	&__item
		display: inline-block
		padding:0 8px

	&__social
		float right

		&-list
			margin:0 -8px

		&-item
			display: inline-block
			padding: 8px

