mixin footer()
	footer.footer(role = "contentinfo")
		div.inner.clearfix
			div.footer__logo.hidden-xs © CENTRALLO 2015
			ul.footer__list
				li.footer__item
					a(href = "#").footer__link PRIVACY
				li.footer__item
					a(href = "#").footer__link TERMS
				li.footer__item
					a(href = "#").footer__link CONTACT

			ul.footer__social
				li.footer__social-item
					a(href = "#").footer__social-link.icon-twi-foot
				li.footer__social-item
					a(href = "#").footer__social-link.icon-fb-foot