mixin gallery-block()
	div.gallery-block
		div.gallery-block__list.clearfix
			div.gallery-block__item
				div.gallery-block__pic
					img.gallery-block__img(src = "assets/img/content/photo.png" alt = "")
		div.gallery-block__date Due on Feb 13, 12:42 PM

		div.select-block__bottom.block-bottom.clearfix
			div.block-bottom__time 2h ago
			div.block-bottom__btns
				button(type = "button").block-bottom__url
				button(type = "button").block-bottom__share