mixin header()
	header.header&attributes(attributes)
		div.header__download.download-block.hidden-lg.hidden-md.clearfix.js-block-close
			div.inner.clearfix
				div.download-block__desc
					div.download-block__name Centrallo
					div.download-block__text Free on the Google Play
				div.download-block__action
					div.download-block__btn
						a(href = "#").btn.btn_type_download Download
					div.download-block__btn.download-block__btn_type_close
						button.download-block__close.js-btn-close
		div.header__top
			div.inner.clearfix
				div.header__logo
				div.header__auth
					a.header__log-in log in
					a.header__sign-up.header__sign-up_type_mobile SIGN UP
					div.header__sign-up
						a.header__link(href="#") SIGN UP FOR FREE
						|— START PUBLISHING IN MINUTES
